{% extends 'pages/base.jinja' %}

{% block title %}
    404
{% endblock %}

{% block content %}
    <article>
        <h2>Error 404</h2>
        <h3>The page you were looking for could not be found</h3>
    </article>
{% endblock %}