{% extends 'pages/base.jinja' %}

{% block title %}
    Start
{% endblock %}

{% block nav %}
    <ul>
        <li><strong><a href="/">Mafia</a></strong></li>
    </ul>
{% endblock %}

{% block content %}
    <article>
        <h2>Join as a player</h2>

        <form action="/join" method="POST">
            <fieldset role="group">
                <input name="name" placeholder="Name" required>

                <input type="submit" value="Join">
            </fieldset>
        </form>
    </article>

    <footer>
        <form action="/narrator/join" method="POST">
            <fieldset role="group">
                <input name="code" type="number" placeholder="Narrator Code" required>
                
                <input type="submit" value="I am the narrator">
            </fieldset>
        </form>
    </footer>
{% endblock %}