{% extends 'pages/base.jinja' %}

{% block title %}
    Players
{% endblock %}

{% block nav %}
    <ul>
        <li><strong><a href="/">Mafia</a></strong></li>

        <li>
            <a href="/mafia/27">Mafia</a>
        </li>
    </ul>
{% endblock %}

{% block content %}
    <article>
        <h2>Players</h2>

        <table>
            <thead>
                <th>Player</th>
                <th>Role</th>
                <th>State</th>
            </thead>
            <tbody>
                {% for player in players %}

                <tr>
                    <td>{{player.name}}</td>

                    <td><form action="/rerole/{{player.id}}" method="POST">
                        <select name="role" onchange="this.form.submit()">
                            <option disabled selected>{{player.role}}</option>
                            <option>innocent</option>
                            <option>mafia</option>
                            <option>doctor</option>
                        </select>
                    
                    </form></td>

                    {% if player.state == "A" %}
                        <td id="A">Alive</td>
                    {% else %}
                        <td id="D">Dead</td>
                    {% endif %}
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </footer>
{% endblock %}