{% extends 'pages/base.jinja' %}

{% block title %}
    Players
{% endblock %}

{% block nav %}
    <ul>
        <li><strong><a href="/">Mafia</a></strong></li>

        <li>
            <a href="/players">Players</a>
            <a href="/role">My Role</a>
            <a href="/players">Chat</a>
        </li>
    </ul>
{% endblock %}

{% block content %}
    <article>
        <h2>Players</h2>

        <table>
            <tbody>
                {% for player in players %}

                <tr>
                    <th>{{player.name}}</th>

                    {% if player.state == A %}
                        <th id="A">Alive</th>
                    {% else %}
                        <th id="A">Alive</th>
                    {% endif %}
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </footer>
{% endblock %}