{% extends 'pages/base.jinja' %}

{% block title %}
    Spectate
{% endblock %}

{% block content %}
    <article>
        <h2>Players</h2>

        <table>
            <tbody>
                {% for player in players %}

                <tr>
                    <td>{{player.name}}</td>
                    
                    {% if player.state == "A" %}
                        <td id="A">Alive</td>
                    {% else %}
                        <td id="D">Dead</td>
                    {% endif %}
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </footer>
{% endblock %}